* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #bfdffb;
    border-bottom: 1px solid #ddd;
}
header .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #043a8d;
    margin-left: 200px;
    
}
.info_conta {
  margin-right: 200px;  /* aumenta o afastamento da borda direita */
}

.saldo-limite {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.card {
    padding: 20px 30px;
    background-color: #e9f0ff;
    border: 2px solid #cce0ff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2em;
    min-width: 150px;
    text-align: center;
}
body {
background-color: rgb(221, 235, 247);
font-size: 16px;


}
.login-container {
    max-width: 320px;
    margin: 80px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

/* Título */
.login-container h2 {
    margin-bottom: 20px;
    color: #0d6efd;
}

/* Labels alinhados à esquerda */
.login-container label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Botão */
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #0b5ed7;
}

.limite-box span {
    color: #70720e;
    font-weight: bold;
}
.saldo-box span{
    color: rgb(0, 95, 43);
    font-weight: bold;
}
/* Container principal das informações */
#main_home {
  padding-top: 25px;
  padding-left: 220px;
}

/* Bem-vindo e info conta */
#main_home h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}



.info_conta span {
  align-items: center;
  font-weight: 600;
  margin-right: 10px;
}

/* Blocos de saldo e limite */
.blocos {
  display: flex;
  gap: 20px;
}

.saldo-box, .limite-box {
  padding: 15px 20px;
  border-radius: 6px;
  min-width: 160px;
}

/* Saldo */
.saldo-box {
  background-color: #d4f8d4; /* Verde claro */
  color: #1b4d1b;
}

/* Limite */
.limite-box {
  background-color: #f9face; /* Azul claro */
  color: #1a2b5b;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    align-items: center;

}

nav a {
   text-decoration: none; 
   color: rgb(32, 32, 32);
   font-weight:500;
   transition:background-color 0.3s ease; 
}

nav a:hover {
  background-color: #b2d7f8;
  color:  #5c87ac; /* opcional: melhora contraste */
}

