{% extends "base.html" %}
{% block title %}Alterar Limite{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/alterar_limite.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>Alterar Limite</h2>

    <form method="POST">
        <label for="limite_input">Novo Limite:</label>
        <input type="number" id="limite_input" name="limite" step="0.01" required>

        <button type="submit">Salvar</button>
    </form>
</div>
{% endblock %}