{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container">
  <h2>Login</h2>
  <!-- Desativa o autocomplete do navegador -->
  <form method="POST" autocomplete="off">
    <label for="agencia">Agência:</label>
    <input 
      type="text" 
      id="agencia" 
      name="agencia" 
      autocomplete="off" 
      required
    >

    <label for="conta">Conta:</label>
    <input 
      type="text" 
      id="conta" 
      name="conta" 
      autocomplete="off" 
      required
    >

    <label for="senha">Senha:</label>
    <input 
      type="password" 
      id="senha" 
      name="senha" 
      autocomplete="new-password" 
      autocapitalize="off" 
      spellcheck="false" 
      required
    >
    <input 
      type="text" 
      style="display:none" 
      autocomplete="username"
    >


    <button type="submit">Entrar</button>
  </form>
</div>
{% endblock %}