{% extends "base.html" %}
{% block title %}Pix{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pix.css') }}">
{% endblock %}
{% block content %}

<!-- BLOCO PARA EXIBIR MENSAGENS FLASH -->

<div class="pix-container">
  <h2>Área Pix</h2>

  {% if conta.chave_pix %}
    <p><strong>Sua chave Pix:</strong> {{ conta.chave_pix }}</p>
  {% else %}
    <p><em>Não existe chave Pix cadastrada.</em></p>
    <form method="POST" class="pix-form">
      <input type="hidden" name="acao" value="cadastrar">
      <label for="chave"><strong>Nova chave Pix:</strong></label>
      <input type="text" id="chave" name="chave" required>
      <button type="submit" class="enviar-btn">Cadastrar</button>
    </form>
  {% endif %}

  <hr>

  <h3>Fazer Pix</h3>
  <form method="POST" class="pix-form">
    <input type="hidden" name="acao" value="fazer">
    <label for="chave_destino"><strong>Chave Pix Destino:</strong></label>
    <input type="text" id="chave_destino" name="chave_destino" required>

    <label for="valor"><strong>Valor:</strong></label>
    <input type="number" id="valor" step="0.01" name="valor" required>

    <button type="submit" class="enviar-btn">Enviar Pix</button>
  </form>
  {% with messages = get_flashed_messages(category_filter=["pix"])%}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
{% endblock %}